@page
@model WordleTracker.Web.Pages.GroupsModel
@{
	ViewData["Title"] = "Groups";

	<h1>Groups</h1>

	<form method="post" class="container">
		<fieldset>
			<div class="row">
				<div class="col-auto">
					<label asp-for="Name" class="col-form-label"></label>
				</div>
				<div class="col">
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger" />
				</div>
				<div class="col-auto">
					<button type="submit" title="Create group" class="btn btn-primary">Create</button>
				</div>
			</div>
		</fieldset>
	</form>

	@foreach (var grouping in Model.Groups)
	{
		<div class="card">
			<div class="card-header">@grouping.Key</div>
			<ul class="list-group list-group-flush">
				@foreach (var group in grouping)
				{
					<li class="list-group-item">
						(@group.Size)
						<a asp-page="Group" asp-route-id=@group.Id>@group.Name</a>
					</li>
				}
			</ul>
		</div>
	}
}

@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}
