html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

.editable {
	padding: .25rem;
	margin-right: .25rem;
}

	.editable:hover {
		border-radius: .25rem;
		border-style: inset;
		border-width: .1rem;
		margin-right: .15rem;
		background-color: #FAFAFA;
	}

.fs-small {
	font-size: 0.8rem;
}

.pointer {
	cursor: pointer;
}

.w-0 {
	width: 0;
}
